<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yub.system.mapper.param.SysParamMapper">

    <select id="selectValueByCode" resultType="string">
        SELECT value
        FROM sys_param
        WHERE code = #{code} AND status = 1 AND deleted = 0
        LIMIT 1
    </select>

</mapper>
