<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yub.system.mapper.user.SysUserMapper">

    <select id="selectByAccount" resultType="com.yub.system.entity.user.SysUser">
        SELECT id, account, password, nick_name, phone, email, avatar_url, status,
               create_time, update_time, create_by, update_by, deleted
        FROM sys_user
        WHERE account = #{account} AND deleted = 0
    </select>

    <select id="selectById" resultType="com.yub.system.entity.user.SysUser">
        SELECT id, account, password, nick_name, phone, email, avatar_url, status,
               create_time, update_time, create_by, update_by, deleted
        FROM sys_user
        WHERE id = #{id} AND deleted = 0
    </select>

    <select id="selectRoleCodesByUserId" resultType="string">
        SELECT r.code
        FROM sys_role r
        INNER JOIN sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId} AND r.status = 1 AND r.deleted = 0
    </select>

</mapper>
