<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yub.system.mapper.user.SysUserMapper">

    <resultMap id="BaseResultMap" type="com.yub.system.entity.user.SysUser">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="nick_name" property="nickName" />
        <result column="phone" property="phone" />
        <result column="email" property="email" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
        <result column="update_by" property="updateBy" />
        <result column="deleted" property="deleted" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="last_login_ip" property="lastLoginIp" />
        <result column="login_count" property="loginCount" />
    </resultMap>

    <sql id="baseColumns">
        id, account, password, nick_name, phone, email, avatar_url, status,
        create_time, update_time, create_by, update_by, deleted, last_login_time, last_login_ip, login_count
    </sql>

    <select id="selectByAccount" resultType="com.yub.system.entity.user.SysUser">
        SELECT <include refid="baseColumns"/>
        FROM sys_user
        WHERE account = #{account} AND deleted = 0
    </select>

    <select id="selectById" resultType="com.yub.system.entity.user.SysUser">
        SELECT <include refid="baseColumns"/>
        FROM sys_user
        WHERE id = #{id} AND deleted = 0
    </select>

    <select id="selectRoleCodesByUserId" resultType="string">
        SELECT r.code
        FROM sys_role r
        INNER JOIN sys_user_role ur ON r.id = ur.role_id
        WHERE ur.user_id = #{userId} AND r.status = 1 AND r.deleted = 0
    </select>

    <update id="updateLoginInfo">
        UPDATE sys_user
        SET last_login_time = #{lastLoginTime}, last_login_ip = #{lastLoginIp}, login_count = #{loginCount}
        WHERE id = #{id}
    </update>

    <select id="select" resultMap="BaseResultMap">
        SELECT <include refid="baseColumns"/>
        FROM sys_user
        WHERE deleted = 0
        <if test="query.account != null and query.account != ''">
            AND account LIKE CONCAT('%', #{query.account}, '%')
        </if>
        <if test="query.nickName != null and query.nickName != ''">
            AND nick_name LIKE CONCAT('%', #{query.nickName}, '%')
        </if>
        <if test="query.phone != null and query.phone != ''">
            AND phone LIKE CONCAT('%', #{query.phone}, '%')
        </if>
        <if test="query.status != null">
            AND status = #{query.status}
        </if>
        ORDER BY create_time DESC
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sys_user (account, password, nick_name, phone, email, avatar_url, status,
                              create_time, update_time, create_by, update_by)
        VALUES (#{account}, #{password}, #{nickName}, #{phone}, #{email}, #{avatarUrl}, #{status},
                NOW(), NOW(), #{createBy}, #{updateBy})
    </insert>

    <update id="updateById">
        UPDATE sys_user
        SET nick_name   = #{nickName},
            phone       = #{phone},
            email       = #{email},
            status      = #{status},
            update_time = NOW(),
            update_by   = #{updateBy}
        WHERE id = #{id}
    </update>

    <update id="deleteById">
        UPDATE sys_user SET deleted = 1 WHERE id = #{id}
    </update>

    <update id="updateStatus">
        UPDATE sys_user SET status = #{status} WHERE id = #{id}
    </update>

    <update id="updatePassword">
        UPDATE sys_user SET password = #{password} WHERE id = #{id}
    </update>

</mapper>